.caf_swatch_childdiv 
{
  width: 40px!important;
}
.caf_swatch_main_div
{
  width: 90%!important;
  z-index: 1!important;
}
.slick-list
{
  display: inline-block!important;
  width: 80%;
  cursor: pointer;
}
.slick-slide img
{
  display: inline-block!important;
  cursor: pointer;
}
.ca_rvitem
{
  cursor: pointer;
}
.ca_rvitem:hover
{
  opacity: 0.8;
}

.caf_slideControls {
  position: absolute;
  /*width: 100%;*/
  top: 47px;
  left: 0;
}
.caf_slideControls i {
  font-size: 30px;
}
.caf_slideControls .slideNext {
  right: 0;
  position: absolute;
  cursor: pointer;
}
.caf_slideControls .slidePrev {
  left: 0;
  position: absolute;
  cursor: pointer;
}

.slick-prev:before {
  content: ' \276E'!important;
  float: left;
  height: 40px;
}
.slick-next:before {
  content: ' \276F'!important;
   float: right;
  height: 40px;
}
